.heading{
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Search{
    line-height: 56px  !important;
    padding: 0px 26px  !important;
    z-index: 3000;
    margin: 20px  !important;
    margin-top: 10px  !important;
}
.SearchBox{
    margin: 20px  !important;
    margin-top: 10px  !important;
}